body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom right, #87CEEB, #FFDAB9);
}

h1 {
    color: rgb(54, 13, 2);
}

.sub-heading { 
    font-size: 30px;
}

nav {
    background: linear-gradient(to right, #40E0D0, #FFD700);
    padding: 8px 20px;  
    display: flex;               
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

nav .brand {
    color: rgb(54, 13, 2);
    font-size: 28px;
    font-weight: bold;
    margin: 0;                     
}

nav .nav-links {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 4px 6px;   
    border: 1px solid transparent;
    border-radius: 9px;
    transition: 0.3s ease;
}

nav a:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(0, 77, 77, 0.6);
}

.section {
   background-color: rgba(255, 255, 255, 0.6);
   padding: 20px 30px;
   margin: 5px 0 20px;
   width: 500px;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

