body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}

h1{
    color: rgb(54, 13, 2);
}
.sub-heading{ 
    font-size: 30px;
}
nav {
    background-color: rgb(167, 69, 42);
    padding: 10px;
    text-align: center;
}
